
body, header{
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
header{
    background-color: #1c181d;
    color: #616161;
    width: 100%;
    padding: 20px;
    /* height: 100vh; */
}
#component{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}
#section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section1{
    margin-top: 35px;
    /* padding: 20px; */
    background-color: #1c181d;
    color: #e3e3e3;
    font-size: 13px;
    padding-left: 14px;
    padding-right: 8px;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 750px;
    border-radius: 12px;
}
#section2{
    /* margin-top: -16px; */
    /* padding: 20px; */
    height: 700px;
    background-color: #fff;
}